@import "tailwindcss";


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overscroll-behavior: none; /* Prevents "bounce" scroll on mobile */
}

/* Hide scrollbar for clean UI */
::-webkit-scrollbar {
  display: none;
}
